@import './vars.css';

@font-face {
  font-family: '04b';
  src: url(04B_03__.ttf);
}

@font-face {
  font-family: 'PPSupplySans-Regular';
  src: url(PPSupplySans-Regular.otf);
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, */
    /* Arial, sans-serif; */
  margin: auto;
  background-color: #333;
}

body,
.editor,
.node .title,
.node .input-title,
.node .output-title,
.node select,
.node input {
  font-family: 'PPSupplySans-Regular';
  /* font-family: '04b'; */
}


html,
body {
  height: 100%;
  width: 100%;
}

.app{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.panel{
  min-width: 200px;
  background:#333;
  z-index: 2;
  box-shadow: var(--bnt-box-shadow);
}

.rete{
  width:100%;
  user-select: none;
}

select,
input {
  width: 100%;
  border-radius: 0px;
  background-color: var(--bnt-cream);
  padding: 2px 6px;
  border: 1px solid #999;
  font-size: 110%;
  width: 170px;
}

.editor {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1;
  overflow: hidden;
}

.node {
  all: unset;
  background: #999;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: auto;
  /* padding-bottom: 6px; */
  box-sizing: content-box;
  min-width: 180px;
  border-radius: 0px;
  transition: background 150ms ease-in-out;
  box-shadow: var(--bnt-box-shadow);
}

.node.event{
  background: #999;
}

.node:hover{
  background: var(--bnt-cyan);
  cursor: pointer;
}

.node *:hover{
  cursor:pointer;
}

.node.selected {
  background: var(--bnt-magenta);
  border: 1px solid;
  border-color: var(--bnt-cream);
  
}

.node .title{
  font-size: 14px;
  background:rgba(0,0,0,0.5);
  text-align: center;
  padding: 2px;
}

.node .input-title,
.node .output-title {
  margin:0;
}

.node select,
.node input {
  border:0px;
  font-size:100%;
}

.node select,
.node input:focus {
  background-color: var(--bnt-yellow);
  border:0;
  outline:none;
}

.node .inputs-outputs-container{
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.node .inputs,
.node .outputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.node .control input,
.node .input-control input {
  width: 140px;
}

.node .socket{
    border-radius: 6px;
    width: 12px;
    height: 12px;
    border: 1px solid white;
}

.node .socket.used {
  background: white;
}

.node .socket.output{
  background: #333;
  margin-right: -6px;
}

.node .socket.input {
  background: #333;
  margin-left: -6px;
}

.connection .main-path {
  fill: none;
  stroke: #eee;
  stroke-width: 1px;
  pointer-events: none;
}

.connection .main-path.active {
  stroke: var(--bnt-magenta)
}
