:root {
  --bnt-cyan: #0093D3;
  --bnt-magenta: #CC016B;
  --bnt-yellow: #FFF10D;
  --bnt-cream: #FFFEFE;
  --bnt-red: #CC0808;
  --bnt-green: #01CC6b;
  --bnt-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  --bnt-border-radius: 6px;

}